{% extends 'student/base_student.html' %}

{% load static %}

{% block content %}
  <section class="w-[90%] mx-auto rounded-xl mt-[5rem] text-gray-900 py-2 px-4 subject-dashboard-hero">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
      <div class="md:w-2/3 mb-10 md:mb-0">
        <ol class="flex items-center whitespace-nowrap mb-[2rem] breadcrumb-nav">
          <li class="inline-flex items-center">
            <a class="flex items-center text-sm text-gray-500 hover:text-[{{ student.color }}] focus:outline-none focus:text-blue-600" href="{% url 'student_dashboard' student.student_slug %}">Home</a>
            <svg class="flex-shrink-0 mx-2 overflow-visible size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="m9 18 6-6-6-6"></path>
            </svg>
          </li>
          <li class="inline-flex items-center text-sm font-semibold text-gray-800 truncate" aria-current="page">{{ subject.name }}</li>
        </ol>

        <h6 class="text-[3rem] font-bold leading-tight mb-4 text-gray-700">{{ subject.name }}</h6>
        <p class="text-md mb-4 text-gray-500">{{ subject.description }}</p>
      </div>
      <div class="md:w-1/3">
        <img src="{{ subject.thumbnail.url }}" alt="{{ subject.name }}" class="w-full rounded-xl aspect-video object-cover object-center" />
      </div>
    </div>
  </section>

  <section class="subject-main-body-section w-[96%] mx-auto">
    <div class="w-[100%] grid grid-cols-3 mt-[20px] subject-report-details">
      <div class="col-span-1 w-[100%] text-center my-auto">
        <div class="progress">
          <svg class="progress-bar mx-auto" width="70" height="70" viewBox="0 0 300 300">
            <circle class="progress-circle" cx="150" cy="150" r="135"></circle>
            <circle class="progress-circle" cx="150" cy="150" stroke="{{ student.color }}" r="135" style="stroke-dashoffset: calc(848 - (848 * {{ subject_completion_percentage }}) / 100);"></circle>
          </svg>
          <div class="text">
            <p class="text-[1rem] text-gray-600 font-semibold">{{ subject_completion_percentage }}%</p>
          </div>
        </div>
        <p>
          <span class="text-[0.9rem] text-gray-500 font-normal">Completed</span>
        </p>
      </div>

      <div class="col-span-1 w-[100%] text-center border-x-2 border-[{{ student.color }}] px-4 my-auto">
        <p class="text-[1.3rem] text-gray-600 font-semibold">
          {{ number_of_topics }} <br />
          <span class="text-[0.9rem] text-gray-500 font-normal">
            {% if number_of_topics <= 1 %}
              Topic
            {% else %}
              Topics
            {% endif %}
          </span>
        </p>
      </div>
      <div class="col-span-1 w-[100%] text-center pl-4 my-auto">
        <p class="text-[1.3rem] text-gray-500 font-semibold">
          {{ fully_completed_topics }} <br />
          <span class="text-[0.9rem] text-gray-500 font-normal">Completed</span>
        </p>
      </div>
    </div>
  </section>

  <br /><br /><br />

  <div class="w-[96%] mx-auto grid grid-cols-1 sm:grid-cols-4 gap-6 sm:gap-1 mt-5 card-body-grid">
    {% for topic in topic_data %}
      <a class="rounded-xl w-[90%] mx-auto card hover:shadow-xl duration-500" href="{% url 'topic_dashboard' student.student_slug subject.subject_slug topic.topic.topic_slug %}">
        <div class="w-[100%] mx-auto">
          <img src="{{ topic.topic.thumbnail.url }}" class="w-[100%] h-[100%] object-cover object-center rounded-xl aspect-video" alt="{{ topic.topic.name }}" />
        </div>
        <div class="grid grid-cols-6 mx-[15px] my-[10px]">
          <div class="col-span-5">
            <h6 class="text-gray-700 text-lg">{{ topic.topic.name }}</h6>
            <span class="text-gray-700">{{ topic.num_total_chapters }} Chapters</span>
          </div>
          <div class="col-span-1">
            <div class="progress">
              <svg class="progress-bar mx-auto" width="50" height="50" viewBox="0 0 300 300">
                <circle class="progress-circle" cx="150" cy="150" r="135"></circle>
                <circle class="progress-circle" stroke="{{ student.color }}" cx="150" cy="150" r="135" style="stroke-dashoffset: calc(848 - (848 * {{ topic.completion_percentage }}) / 100);"></circle>
              </svg>
              <div class="text text-[0.8rem] text-gray-600 font-semibold">{{ topic.completion_percentage }}%</div>
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>

  
{% endblock %}
