.learn-navbar a {
    font-family: 'Clash Grotesk', sans-serif;
}

.learn-navbar a h6 {
    font-family: 'Fira Sans', sans-serif;
}

.learn-navbar button {
    font-family: 'Clash Grotesk', sans-serif;
}

.learn-navbar a p {
    font-family: 'Manrope', sans-serif;
}