{% extends 'student/base_student.html' %}

{% load static %}

{% block title %}
  {{ quiz.title }} | {{ chapter.name }}
{% endblock %}

{% block content %}
  <div class="py-5 sm:py-10 mt-[5rem] quiz-overview">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:max-w-none">
        <div class="text-center space-y-4">
          <h5 class="text-[3rem] font-bold tracking-tight text-gray-600 sm:text-[4rem]">{{ quiz.title }}</h5>
          <h6 class="text-lg leading-8 text-gray-500">{{ chapter.name }}</h6>
        </div>
        <dl class="mt-12 grid grid-cols-1 gap-0.5 overflow-hidden rounded-2xl text-center sm:grid-cols-2 lg:grid-cols-3">
          <div class="flex flex-col bg-white/5 p-8 statistics">
            <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-400">
              {% if quiz_submitted == True %}
                Percent
              {% else %}
                Mark PQ
              {% endif %}
            </dt>
            <dd class="order-1 text-5xl font-extrabold text-gray-500">
              {% if quiz_submitted == True %}
                {{ percentage }}
              {% else %}
                1
              {% endif %}
            </dd>
          </div>
          <div class="flex flex-col bg-white/5 p-8">
            <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-400">
              {% if quiz_submitted == True %}
                {% if questions.count <= 1 %}
                  Question
                {% else %}
                  Questions
                {% endif %}
              {% else %}
                Mark PQ
              {% endif %}
            </dt>
            <dd class="order-1 text-5xl font-extrabold text-gray-500">
              {% if quiz_submitted == True %}
                {{ questions.count }}
              {% else %}
                1
              {% endif %}
            </dd>
          </div>
          <div class="flex flex-col bg-white/5 p-8">
            <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-400">
              {% if quiz_submitted == True %}
                Minutes
              {% else %}
                Mark PQ
              {% endif %}
            </dt>
            <dd class="order-1 text-5xl font-extrabold text-gray-500">
              {% if quiz_submitted == True %}
                {{ time_min }}
              {% else %}
                1
              {% endif %}
            </dd>
          </div>
        </dl>
        <div class="w-[100%] text-center start-link">
          <a href="{% url 'chapter_quiz_content' student.student_slug subject.subject_slug topic.topic_slug chapter.chapter_slug quiz.quiz_slug %}" class="text-center px-6 py-1 border-[2px] border-[{{ student.color }}] rounded-lg bg-[{{ student.color }}] text-white font-medium hover:bg-white hover:text-gray-700 duration-500">Start</a>
        </div>
      </div>
    </div>
  </div>          

  <p class="text-[1.1rem] w-[90%] mx-auto text-center mt-1 text-gray-500 quiz-overview-comments">
    {% if quiz_submitted == True %}
      This is what you need to know about the quiz from your last attempt
    {% else %}
      This is all you need to know abot the quiz, let's get started!
    {% endif %}
  </p>
{% endblock %}
